#form-add-card {
  
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-add-card form  {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
}
#form-add-card label {
  width: 150px;
}